/**
  重写element-ui组件样式
*/ 
@import './list.scss';
.el-button {
  padding: 9px 20px;
}
.el-button--text {
  padding-left: 0;
  padding-right: 0;
}
.el-table {
  border: 1px solid #EBEEF5;
  .el-table__header th, .el-table__header tr {
    background: #fafafa;
  }
}
.el-textarea__inner {
  height: 120px;
  padding-left: 5px;
}

.el-form-item__label {
  width: 160px!important;
}
